<template name="practiceDetail">
  <a href="{{pathFor 'practiceIndex'}}" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-arrow-left"></span>
    <span class="inbox">Back to Inbox</span>
  </a>
  <div class="panel">
    <div class="col-xs-offset-1">
      <div class="page-header">
        <h2>{{subject}}</h2>
      </div>
      <h4>
        <span class="glyphicon glyphicon-user"></span>
        <b>{{author}}</b> at {{time}}
      </h4>
      <br />
      <h4>
        {{details}}
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="panel">
      <div class="col-xs-offset-1">
        <h2>
          {{subject}}
        </h2>
        <h4>
          FROM: {{author}} at {{time}}
        </h4>
        <br />
        <h4>
          {{details}}
        </h4>
      </div>
    </div>
</div>
</template>